body{
    margin: 0;
    padding: 0;
    display: flexbox;
}

#header{
    display: flex;
    padding: 0.5rem 0 0 0;
    background: #301f15;
    width: auto;
    justify-content: space-around;
}

.logo {
    padding: 1rem 1rem;
}

.nav ul{
    top: 0;
    display: inline;
    padding: 1.5vh; 
    margin: auto;
    background-color: #6f4338;
    justify-self: start;
    align-content: start;
    border-radius: 5px;
    z-index: 1;
}

a{
    padding: 1.6vh;
}

.nav ul a {
    position: relative;
    justify-content: center;
    /* padding: 2.2vh 1.5vh 2.2vh 2.5vh; */
    font-weight: bold;
    letter-spacing: 0.2vh;
    color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
    transition: all 0.7s;
}

.nav ul a:nth-child(odd) {
    padding-left: 3vh;
    border-radius: 5px 5px 0px 5px;
}



.nav ul a:first-child:hover{
    padding-left: 3vh;
}

.nav ul a:last-child{
    padding-right: 3vh;
    border-radius: 0px 5px 5px 0px;
}


.nav a:hover{
    background-color: whitesmoke;
    text-decoration: none;
    color: #6f4338;
}

.nav .active{
    background-color: whitesmoke;
    text-decoration: none;
    color: #6f4338;
    
}

.motto{
    display: block;
    padding: 1rem;
    color: #c1976a;
    text-align: center;
    text-justify: center;
    align-items: flex-end;

}

.motto h2{
    
    font-size: 3.9rem;
    letter-spacing: 0.5vh;
    font-family: 'jaldi';
    font-weight: lighter;  
    transform: scale(1, 1.5);
}



.motto h5{
    letter-spacing: 0.2vh;
    font-family: 'lobster';
    font-weight: 900;  
}

.coffee-cup {
    /* margin-left: 4rem; */
    padding: 1rem 1rem 1rem 0rem;
    float: right;
    position: relative;
    width: auto;
    height: 300px;
}

#coffee-mood {
    color: #c1976a;
    position: relative;
    float: center;
    bottom: 0;
}

#discover{
    background: #c1976a;
    padding: 20px; 
    align-content: end;
}

.drink{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    
}

.col-md-8 h2, h3, p{
    color: #251503;
}

.col-md-8 h2{
    font-family: 'tahoma';
    font-weight: bolder;
    font-size: 5ch;
}

.col-md-8 h3{
    font-size: 4ch;
    font-weight: 100;
}

.button{
    padding: 5px 20px 5px 20px;
    background: #251503;
    color: #c1976a;
    border: none;
    transition: all 0.7s;
}

.button:hover{
    color: white;
    background-color: #6f4338;
}

#card-container{
    background: #655546;
    padding: 20px;   
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 50px 150px 50px 150px;
}

.review{
    color: white;
    text-align: center;
    font-family: 'tahoma';
    font-size: 5ch;
    font-weight: bold;
}

.review-h5{
    color: #cfc1b1;
    text-align: center;
}

.review-cup{
    width: 50px;
    height: auto;
}

.card-div{
    background: #c1976a;
    width: auto;
    height: min-content;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    box-shadow: 3px 0px 18px 12px rgba(0,0,0,0.31);

}

.client-name{
    text-align: center;
}

.footer{
    background: #281602;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem 0;

}

.footer h1{
    color: white;
    font-weight: bold;
}

form button{
    background: #c1976a;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    transition: all 0.8s;
}

.form-group #exampleFormControlTextarea1{
    resize: none;
}

form button:hover{
    background-color: #6f4338;
    color: white;
    border: none;
}

.sitemap a {
    display: block;
    font-size: 2ch;
    line-height: 0.7cm;
    color: #c1976a;
    font-weight: bold;
}

.sitemap a:hover{
    text-decoration: none;
    color: #cfc1b1;
}

.telephone a {
    display: block;
    font-size: 2.5ch;
    line-height: 1cm;
    color: #c1976a;
    font-weight: bold;
    transition: all 50ms
}

.telephone a:hover{
    text-decoration: none;
    color: #cfc1b1;
}

.sitemap a .bi-chevron-right,
.bi-telephone-fill, 
.bi-envelope{
    color: white;
    padding-right: 10px;
}



.copy{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #c1976a;
}

