body{
    margin: 0;
    padding: 0;
    
}

#header{
    display: flex;
    padding: 0.5rem 0 0 2rem;
    background: #301f15;
    width: auto;
    height: 300px;
    justify-content: space-around;
}

.nav{
    padding: 3rem 0 0 5rem;
    display: inline;
    position: relative;
    justify-self: start;
    align-content: start;
    border-radius: 5px;
    z-index: 1;
}

.nav a {
    justify-content: center;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    background-color: #c1976a;
    color: #251503;
}


.nav a:hover{
    background-color: #251503;
    text-decoration: none;
    color: #c1976a;
}

.nav .active{
    background-color: #251503;
    text-decoration: none;
    color: #c1976a;
    border-radius: 5px;
}

.coffee-cup {
    margin-left: 4rem;
    float: right;
    position: relative;
    width: auto;
    height: 300px;
}

#coffee-mood {
    color: #c1976a;
    position: relative;
    float: center;
    bottom: 0;
}

#discover{
    background: #c1976a;
    padding: 20px; 
    align-content: end;
}

.drink{
    
    width: 300px;
    height: 300px;
    background: #251503;
    border-radius: 20px;
    
}

.col-md-8 h2, h3, p{
    color: #251503;
}

.col-md-8 h2{
    font-family: 'tahoma';
    font-weight: bolder;
    font-size: 5ch;
}

.col-md-8 h3{
    font-size: 4ch;
    font-weight: 100;
}

.button{
    padding: 5px 20px 5px 20px;
    background: #251503;
    color: #c1976a;
    border: none;
    transition: all 50ms;
}

.button:hover{
    color: white;
    background-color: #301f15;
}

#card-container{
    background: #655546;
    padding: 20px;
    
   
}

.cards{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.review{
    color: white;
    text-align: center;
    font-family: 'tahoma';
    font-size: 5ch;
    font-weight: bold;
}

.review-h5{
    color: #cfc1b1;
    text-align: center;
}

.review-cup{
    width: 50px;
    height: auto;
}

.card-div{
    background: #c1976a;
    width: 300px;
    height: min-content;
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
    text-align: center;
    box-shadow: 3px 0px 18px 12px rgba(0,0,0,0.31);

}

.client-name{
    text-align: center;
}

.footer{
    background: #281602;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 1rem 0;

}

.footer h1{
    color: white;
    font-weight: bold;
}

form button{
    background: #c1976a;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

.sitemap a {
    display: block;
    font-size: 2ch;
    line-height: 1cm;
    color: #c1976a;
    font-weight: bold;
}

.sitemap a:hover{
    text-decoration: none;
    color: #cfc1b1;
}

.sitemap .forward {
    color: red;
}

.telephone a {
    display: block;
    font-size: 3ch;
    line-height: 1cm;
    color: #c1976a;
    font-weight: bold;
    transition: all 50ms
}

.telephone a:hover{
    text-decoration: none;
    color: #cfc1b1;
}

.copy{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background: #c1976a;
}

